:root {
  --bg-1: #ececec;
  --text-1: #0d0d0d;
  --bg-2: #4460aa;
}
.dark {
  --bg-1: #0d0d0d;
  --text-1: #f6f6f6;
  --bg-2: #f45458;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  outline: none;
}

body {
  background-color: var(--bg-1);
}

html {
  scroll-behavior: smooth;
}
