.container {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: var(--bg-2);
    z-index: 6;
    opacity: 100;
}

