.links {
    background-color: var(--bg-2);
    
    width: 70vw;
    box-sizing: border-box;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4vh;
}

.link {
    color: var(--bg-1);;
}